@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

.app {
    margin: 0 auto;
    width: 1025px;
    height: 839px;
    display: flex;
    flex-direction: column;
}

.jogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.forca {
    margin-top: 59px;
    margin-left: 38px;
    width: 400px;
    height: 467px;
}

.forca img {
    width: 100%;
    height: 100%;

}

.lateral-jogo {
    width: 587px;
    margin-top: 89px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.botao-escolher-palavra {
    background-color: #27AE60;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    margin-right: 53px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.botao-escolher-palavra:hover {

    opacity: 0.5;
}

.black,
.red,
.green {
    margin-top: 282px;
    padding-right: 61px;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    font-family: 'Noto Sans', sans-serif;
}

.black {
    color: black;
}

.red {
    color: red;
}

.green {
    color: green;
}

.letras {
    width: 652px;
    height: 91px;
    margin: 70px auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 11px;
}

.letras button:disabled {
    background-color: #9FAAB5;
    cursor: auto;
}

.letras button {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #E1ECF4;
    color: #798A9F;
    border: 1px solid #7AA7C7;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-transform: uppercase;
}

.letras button:hover {
    opacity: 0.7;
}